<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="OnlineTest">
    <test name="TestRun">
        <parameter name="driverName" value="Chrome" />
        <classes>
            <class name="CartMessageTest"/>
        </classes>
    </test>
</suite> <!-- Suite -->